<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>TakenyanAnalyzer</title>
</head>

<body>
    <h1>直近のねねばー</h1>
    {% for r in recent%}
    <blockquote class="twitter-tweet">
        <p lang="ja" dir="ltr"><a href="https://twitter.com/windio_nyan_/status/{{r.tw_id}}?ref_src=twsrc%5Etfw"></a>
    </blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    {% endfor %}
    <h1>ねねばーツイート一覧</h1>
    <table border="1">
        <tr>
            <th>date</th>
            <th>usr</th>
            <th>txt</th>
        </tr>
        {% for tweet in data %}
        <tr>
            <td><a href = "https://twitter.com/windio_nyan_/status/{{tweet.tw_id}}" target="_blank">{{ tweet.dt }}</a></td>
            <td>{{ tweet.usr }}</td>
            <td>{{ tweet.txt }}</td>
        </tr>
        {% endfor %}
    </table>
</body>